@{ 
    @ViewBag.Title
}

<h3>
    An error while processing your request.<br />
    The support team is notified and we are working on th fix.<br />
</h3>
<h5>
    Please contact the Site Administrator.
</h5>
<hr />
<h3>Exception Details</h3>
<h5>
    Exception Path
</h5>
<hr />
<p>
    @ViewBag.ExceptionPath
</p>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>
        @ViewBag.ExceptionMessae
    </p>
</div>

<div class="alert alert-danger">
    <h5>Exception Stack Trace</h5>
    <hr />
    <p>
        @ViewBag.StackTrace
    </p>
</div>