@{ 
    ViewBag.Title = "Not Found";
}

<h1>
    @ViewBag.ErroMessage
</h1>

@*<h1>
    @ViewBag.Path
</h1>

<h1>
    @ViewBag.QS
</h1>*@

<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">
    Click here to navigate to the Home Page
</a>