@model EmployeeEditViewModel

@{
    ViewBag.Title = "Edit Employee";
    var photoPath = "~/images/" + (Model.ExistingPhotoPath ?? "1.jpg");
}

<style>
    .image-preview {
        width: 300px;
        height: 100px;
        margin-top: 15px;
    }

    .image-preview__image {
        display: none;
        width: 100%;
        margin-left: 220px;
    }
</style>

<form enctype="multipart/form-data" asp-controller="home" asp-action="edit" method="post" class="mt-3">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhotoPath" />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label asp-for="Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Department" class="form-control custom-select  mr-sm-2"
                    asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
    </div>
    <br />


    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input">
            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4" id="imagePreview1">
        <img src="@photoPath" class="img-thumbnail" asp-append-version="true" />
    </div>

    <div class="form-group row image-preview" id="imagePreview">
        <img src="" class="image-preview__image" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <br />
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @section Scripts {
    <script>
        const impFile = document.getElementById("Photo");
        const previewContainer = document.getElementById("imagePreview1");

        const previewContainer1 = document.getElementById("imagePreview");
        const previewImage1 = previewContainer1.querySelector(".image-preview__image");

        impFile.addEventListener("change", function () {
            debugger;
            const file = this.files[0];

            if (file) {
                previewContainer.style.display = "none";
                const reader = new FileReader();
                previewImage1.style.display = "block";

                reader.addEventListener("load", function () {
                    previewImage1.setAttribute("src", this.result);
                });

                reader.readAsDataURL(file);
            }
        });
    </script>
    }

</form>

