@model int

@{ 
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404: Not Found Error :</h4>
    <hr />
    <h3>
        Employee with Id = @Model can not be found
    </h3>
</div>

<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">
    Click Here to See the List of All Employees
</a>
